@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body{
} 
.card{
    width: 300px;
    border: 1px solid #000000;
    margin: 35px auto;
    border-radius: 15px;
}
.img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.icon{
    font-size: 25px;
    display: flex;
    justify-items: center;
}
.pad{
    padding: 10px;
}
.insta-flex{
    display: flex;
     justify-content:space-between; 
}
.logo{
    padding: 10px;
    position:fixed;
    top: 0;
    font-size: 25px;
    color: rgb(216, 13, 74);
}
@media(max-width:576px)
{
    .card{
        width: auto;

    }
    .img{
        width: 100%;

    }
    .icon{
        width: auto;
    }
}